/* Write your CSS here */

.app-container-item {
  margin: 20px;
}

.item-language {
  background-color: transparent;
  outline: none;
  border: none;
  color: #1e293b;
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto;
}
